extends layout

block content
  //.row

  h2 Sessions:
  -var active_session = false
  each sess in sessions
    if sess.active 
      - active_session = true

  if !active_session
    p.lead Create new session
    form(action="/session/start", method='POST')
      input(type='hidden', name='_csrf', value=_csrf)
      
      .form-group.row
        label.col-md-2.col-form-label.font-weight-bold.text-right(for='session_name') Session Name
        .col-md-3
          input.form-control(type='text', name='session_name' required)

      .form-group.row
        label.col-md-2.col-form-label.font-weight-bold.text-right(for='questionnaire') Questionnaire
        .col-md-3
          select.form-control(name="questionnaire")
            each survey in surveys
              if survey.cid == 1
                option(value=survey.cid disabled)= survey.name
              else
                option(value=survey.cid)= survey.name

      .form-group.row
        label.col-md-2.col-form-label.font-weight-bold.text-right
        .col-md-3
          input.btn.btn-raised(type='submit', value='Start New Session')
          
  p.lead Session List

  p
    a(href='/session/download?id=all')= "[Reload files for all "+sessions.length+" Sessions]  "
    i.small **files can be found in 'output' folder

  table.table.table-condensed.table-hover.ads-table
    tr
      th ID
      th Name
      th Status
      th Questionnaire
      th Evaluators
      th Date
      th
    each sess in sessions
      tr.table-row(data-href='/session/results?id='+sess.cid)
        td= sess.cid
        td= sess.name
        if sess.active
          td= "Active "
            br
            a(href='/session/end?id='+sess.cid, style='font-size:12px') [END SESSION]
        else 
          td= "Inactive"
            br
            a(href='/session/continue?id='+sess.cid, style='font-size:12px') [Continue Session]
          
        each questionnaire in surveys
          if(sess.questionnaire == questionnaire.cid)
            td= questionnaire.name
        td= sess.answers.length
        td= sess.createdAt
        td
          a(href='/session/download?id='+sess.cid) [Reload File]

  hr
  div#teachers_list_area
  h2 Teachers list:
  
  table.table.table-condensed.table-hover.ads-table
    tr
      th 
      th Name
      th Subjects Taught
      th Remove Teacher
    each teacher, teacherInd in teachers
      tr
        td= (teacherInd+1)
        td
          p.lead= teacher.name
        td
          each sub,subInd in teacher.subjects
            p= sub
              button(type="button" style='font-size:12px;' class="btn btn-link" data-toggle="modal", data-target="#confirm_"+teacher.cid+'_'+subInd)= '[Remove]'
              div( class="modal fade", id="confirm_"+teacher.cid+'_'+subInd, role="dialog")
                  div( class="modal-dialog")
                      div( class="modal-content")
                          div( class="modal-header")
                              h4( class="modal-title") Are you sure?
                              button( type="button", class="close", data-dismiss="modal") X
                          div( class="modal-body")
                              p= 'Are you sure you want to remove '+sub+' from ' + teacher.name + 's subject list?'
                          div( class="modal-footer")
                              button(type="button" class="btn btn-secondary" data-dismiss="modal") No.
                              button(type="button" class="btn btn-primary confirm_yes" data-dismiss="modal" data-href='/teachers/removeSubject?id='+teacher.cid+'&subject='+subInd) Yes, Remove Subject
        td 
          button(type="button" style='font-size:12px;' class="btn btn-link" data-toggle="modal", data-target="#confirm_"+teacher.cid)= '[Remove '+teacher.name+']'
          div( class="modal fade", id="confirm_"+teacher.cid, role="dialog")
              div( class="modal-dialog")
                  div( class="modal-content")
                      div( class="modal-header")
                          h4( class="modal-title") Are you sure?
                          button( type="button", class="close", data-dismiss="modal") X
                      div( class="modal-body")
                          p= 'Are you sure you want to remove ' + teacher.name
                      div( class="modal-footer")
                          button(type="button" class="btn btn-secondary" data-dismiss="modal") No.
                          button(type="button" class="btn btn-primary confirm_yes" data-dismiss="modal" data-href='/teachers/remove?id='+teacher.cid) Yes, Remove Teacher
      //tr
        //td(colspan='4')
  
  div#update_teacher_area
  h4 Add or Update Teacher
  p.info To add a teacher, enter teachers name and select all the subjects taught.
  p.info To update a teacher subject, enter existing teachers name and select all the subjects taught.
  form(action="/teachers/add", method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    
    .form-group.row
      label.col-md-2.col-form-label.font-weight-bold.text-right(for='teacher_name') Add new teacher
      .col-md-5
        input.form-control(type='text', name='teacher_name')
    
    .form-group.row
      label.col-md-2.col-form-label.font-weight-bold.text-right(for='teacher_update') Update existing teacher
      .col-md-3
        select.form-control(name="teacher_update")
          option(value='') Choose Teacher to Update
          each teacher, teacherInd in teachers
            option(value=teacher.name)= teacher.name
    .form-group.row
      label.col-md-5.col-form-label.font-weight-bold.text-center Subjects Taught (please check all that apply)
        
    each sub,subInd in subjects
      //.form-group.row
      label.col-md-2.col-form-label.font-weight-bold.text-right(for='subjects')!= sub.name
      input(name='subjects', type='checkbox', value=sub.name)

    .form-group.row
      label.col-md-2.col-form-label.font-weight-bold.text-right
      .col-md-3
        input.btn.btn-raised(type='submit', value='Add Teacher or Update Teacher')

  hr
  div#subject_list_area
  h2 Subjects list:
  
  table.table.table-condensed.table-hover.ads-table
    tr
      th Name
      th Sections
      th Add Section
      th Remove Subject
    each subject in subjects
      tr
        td= subject.name
        td
            each section in subject.sections
              p= section
                
                button(type="button" style='font-size:12px;' class="btn btn-link" data-toggle="modal", data-target="#confirm_"+subject.cid+"_"+section.replace(/ /g,'_'))= '[Remove '+section+']'
                div( class="modal fade", id="confirm_"+subject.cid+"_"+section.replace(/ /g,'_'), role="dialog")
                    div( class="modal-dialog")
                        div( class="modal-content")
                            div( class="modal-header")
                                h4( class="modal-title") Are you sure?
                                button( type="button", class="close", data-dismiss="modal") X
                            div( class="modal-body")
                                p= 'Are you sure you want to remove ' + section + ' from subject ' + subject.name
                            div( class="modal-footer")
                                button(type="button" class="btn btn-secondary" data-dismiss="modal") No.
                                button(type="button" class="btn btn-primary confirm_yes" data-dismiss="modal" data-href='/section/remove?id='+subject.cid+'&name='+section.replace(/ /g,'_')) Yes, Remove Section
        td
          form(action="/section/add", method='POST')
            input(type='hidden', name='_csrf', value=_csrf)
            input(type='hidden', name='section_subject', value=subject.cid)
            
            //.form-group.row
            .form-row
              .col-3
                label.col-md-2.col-form-label.font-weight-bold.text-right(for='section_name') Section Name
              .col-5
                input.form-control(type='text', name='section_name' required)
              .col-1
                input.btn.btn-raised(type='submit', value='Add Section')
        td
          button(type="button" style='font-size:12px;' class="btn btn-link" data-toggle="modal", data-target="#confirm_"+subject.cid)= '[Remove '+subject.name+']'
          div( class="modal fade", id="confirm_"+subject.cid, role="dialog")
              div( class="modal-dialog")
                  div( class="modal-content")
                      div( class="modal-header")
                          h4( class="modal-title") Are you sure?
                          button( type="button", class="close", data-dismiss="modal") X
                      div( class="modal-body")
                          p= 'Are you sure you want to remove ' + subject.name
                      div( class="modal-footer")
                          button(type="button" class="btn btn-secondary" data-dismiss="modal") No.
                          button(type="button" class="btn btn-primary confirm_yes" data-dismiss="modal" data-href='/subject/remove?id='+subject.cid) Yes, Remove Subject

    tr
      td(colspan='4')
        p.lead Add Subject
        form(action="/subject/add", method='POST')
          input(type='hidden', name='_csrf', value=_csrf)
          
          .form-group.row
            label.col-md-2.col-form-label.font-weight-bold.text-right(for='subject_name') Subject Name
            .col-md-3
              input.form-control(type='text', name='subject_name' required)

          .form-group.row
            label.col-md-2.col-form-label.font-weight-bold.text-right
            .col-md-3
              input.btn.btn-raised(type='submit', value='Add Subject')