extend layout

block content
	br
	ul.nav.nav-tabs
		li.nav-item
			a.nav-link.active(href='/sessions') Session
		li.nav-item
			a.nav-link(href='/teachers') Teachers
		li.nav-item
			a.nav-link(href='/subjects') Subjects and Sections
		li.nav-item
			a.nav-link(href='/questionnaires') Questionnaires

	h1 Session Info
	table.table.table-condensed.table-hover
		tr
			th ID
			th Name
			th Status
			th Questionnaire
			th Responders
			th Date
			th
		tr
			td= session.cid
			td= session.name
			if session.active
				td Currently Active
			else 
				td Inactive
			td= questions.name
			td= session.answers.length
			td= session.createdAt
			td
				button(type="button" style='font-size:12px;' class="btn btn-link" data-toggle="modal", data-target="#confirm_delete_session_"+session.cid)= '[Delete Session]'
				div( class="modal fade", id="confirm_delete_session_"+session.cid, role="dialog")
					div( class="modal-dialog")
						div( class="modal-content")
							div( class="modal-header")
								h4( class="modal-title") Are you sure?
								button( type="button", class="close", data-dismiss="modal") X
							div( class="modal-body")
								p= 'Are you sure you want to delete ' + session.name
							div( class="modal-footer")
								button(type="button" class="btn btn-secondary" data-dismiss="modal") No.
								button(type="button" class="btn btn-primary confirm_yes" data-dismiss="modal" data-href='/session/delete?id='+session.cid) Yes, Remove Session

	if questions.structured == "true"
		table.table.table-condensed.table-hover
			tr
				th Teacher
				th Subject
				th Sections

			each teacher in summary
				tr
					td
						h4= teacher.name
						p= "Based on "+ teacher.score.count +" responders."
						p= 'Average Score: '+(teacher.score.total/teacher.score.count).toFixed(2)
						p
							a(href='/session/results?id='+session.cid+'&teacher='+teacher.name)= 'View detailed overall results'
					td
						each subject in teacher.subjects
							span.lead!= "<u>"+subject.name+"</u>"
							span.small= " ("+subject.sections.length+" sections)"
							p= "Based on "+ subject.score.count +" responders."
							p= 'Average Score: '+(subject.score.total/subject.score.count).toFixed(2)
							p
								a(href='/session/results?id='+session.cid+'&teacher='+teacher.name+'&subject='+subject.name)= 'View detailed results for '+subject.name
							- var a = (subject.sections.length-1)*4
							while a > 0
								br
								br
								- a--
					td
						each subject in teacher.subjects
							each section in subject.sections
								span.lead!= "<u>"+section.name+"</u>"
								span.small= " ("+subject.name+")"
								p= "Based on "+ section.score.count +" responders."
								p= 'Average Score: '+(section.score.total/section.score.count).toFixed(2)
								p
									a(href='/session/results?id='+session.cid+'&teacher='+teacher.name+'&subject='+subject.name+'&section='+section.name)= 'View detailed results for '+section.name

		div#results_area
		if filter.single || filter.teacher || filter.subject || filter.section
			if filter.single
				h1 Single Result
				p
					button(type="button" style='font-size:12px;' class="btn btn-link" data-toggle="modal", data-target="#confirm_delete_single_"+filter.single._id)= '[DELETE THIS RESPONSE]'
					div( class="modal fade", id="confirm_delete_single_"+filter.single._id, role="dialog")
						div( class="modal-dialog")
							div( class="modal-content")
								div( class="modal-header")
									h4( class="modal-title") Are you sure?
									button( type="button", class="close", data-dismiss="modal") X
								div( class="modal-body")
									p= 'Are you sure you want to remove the response of ' + filter.single.evaluator_2 + ' (id: '+filter.single._id+')'
								div( class="modal-footer")
									button(type="button" class="btn btn-secondary" data-dismiss="modal") No.
									button(type="button" class="btn btn-primary confirm_yes" data-dismiss="modal" data-href='/session/results/remove?id='+session.cid+'&result='+filter.single._id) Yes, Delete this response
				p= 'Show results from a single responder '+filter.single.evaluator_3
				p= 'Responder: '+filter.single.evaluator_3
				p= 'Subject: '+filter.single.evaluator_1
				p= 'Section: '+filter.single.evaluator_2
				p= 'Teacher: '+filter.single.evaluator_0


				table.table.table-condensed.table-hover.table-responsive
					tr
						th Category. Item
						th Question
						th Answer
							each cat, catInd in questions.questions
								each quest, questInd in cat.questions
									//p!= (questInd+1) +') '+quest.question
									//p(style='padding-left:10px;')!=filter.single['q_'+catInd+'_'+questInd]
									tr
										td
											p= (catInd+1) +'. '+ (questInd+1)
										td
											p!= quest.question
										td
											p(style='padding-left:10px;')!= filter.single['q_'+catInd+'_'+questInd]

			else
				h1 Filtered Result
				- var scores = []
				- var filtered = []
				if filter.section
					p.lead!= "Teacher: <u>"+filter.teacher+"</u>, Subject: <u>"+filter.subject+"</u>, Section: <u>"+filter.section+"</u>"
				else if filter.subject
					p.lead!= "Teacher: <u>"+filter.teacher+"</u>, Subject: <u>"+filter.subject+"</u>"
				else if filter.teacher
					p.lead!= "Teacher: <u>"+filter.teacher+"</u>"


				each teacher in summary
					if filter.teacher== teacher.name
						- scores = teacher.score
						- filtered = teacher.answers
						each subject in teacher.subjects
							if filter.subject == subject.name
								- scores = subject.score
								- filtered = subject.answers
								each section in subject.sections
									if filter.section == section.name
										- scores = section.score
										- filtered = section.answers

				table.table.table-condensed.table-hover.table-responsive
					tr
						th Question
						th Average Score
						each cat, catInd in questions.questions
							each quest, questInd in cat.questions
								if quest.type == 'choice'
									tr
										td
											p!= (questInd+1)+') '+quest.question
										td
											p!= scores.each['q_'+catInd+'_'+questInd] +" / "+scores.count + " = " + (scores.each['q_'+catInd+'_'+questInd] / scores.count).toFixed(2)
						tr
							td(style='text-align:right;font-weight:bold;') Overall Average:
							td= (scores.total).toFixed(2)+'/'+(scores.count).toFixed(2)+' = '+(scores.total/scores.count).toFixed(2)

				hr
				div#responder_area
				h3 All responders

				table.table.table-condensed.table-hover.table-responsive
					tr
						th Responder
							each cat, catInd in questions.questions
								each quest, questInd in cat.questions
									th= 'Category:'+(catInd+1)+' Question:'+(questInd+1)

					each ans in filtered
						tr.table-row(data-href='/session/results?id='+session.cid+'&single='+ans._id)
							td= ans.evaluator_3
								each cat, catInd in questions.questions
									each quest, questInd in cat.questions
										td= ans['q_'+catInd+'_'+questInd]
										
	else
		// MODULAR LEARNING EVALUATION FORM FOR STUDENTS/PARENTS
		if(questions.cid == 4 || questions.cid == 3)

			//p.lead= JSON.stringify(questions)
			- var partAchoices = (questions.questions[0].questions[0].choices)
			- var partBchoices = questions.questions[1].questions.map(x=> (x.type == 'choice') ? x.choices : null)
			p.lead= JSON.stringify(partBchoices)


			table.table.table-condensed.table-hover
				tr
					th Section
					th Part A (questions 1-10)
					th Part B (questions 10-20)
					th Total (All questions)
				each section,sectionInd in Object.entries(summary)
					tr
						td
							h4= (sectionInd+1)+") "+ section[0]
							p.lead= "Based on "+ section[1].answers.length +" responders."
						td
							p.lead= section[1].averages['Part A']
							p= partAchoices.map(x => (x.value == Math.round(section[1].averages['Part A'])) ? x.text : false).filter(x=> x)
						td
							p.lead= section[1].averages['Part B']
						td
							p.lead= section[1].averages['Total']

			
			//h1= JSON.stringify(summary)

			//- each section in Object.entries(summary)
			//- 	h1= section[0]

			//Sections on top
			table.table.table-condensed.table-hover.table-responsive
				tr
					th Question
					each cat, catInd in questions.questions
						each quest, questInd in cat.questions
							th= quest.question

				each section in Object.entries(summary)
					tr
						th= section[0]
							each cat, catInd in questions.questions
								each quest, questInd in cat.questions
									th= section[1].averages['Per Question']["q_"+catInd+"_"+questInd]



			//Questions on top
			//- table.table.table-condensed.table-hover.table-responsive
			//- 	tr
			//- 		th Sections
			//- 		each cat, catInd in questions.questions
			//- 			each quest, questInd in cat.questions
			//- 				th= quest.question
			//- 	each section in Object.entries(summary)
			//- 		tr
			//- 			th= section[0]

			//- 			each cat, catInd in questions.questions
			//- 				each quest, questInd in cat.questions
			//- 					th= section[1].averages['Per Question']["q_"+catInd+"_"+questInd]




		else
			- var response_average = {}
			- var total_response_average = 0
			- var total_questions = 0
			- var choices = []
			
			table.table.table-condensed.table-hover.table-responsive
				tr
					th Section and Question
					each ans in session.answers
						- res_name = ans.evaluator_0
						if res_name == " "
							- res_name = "Anonymous"
							
						th!= ans._id+": "+res_name
							button(type="button" style='font-size:12px;' class="btn btn-link" data-toggle="modal", data-target="#confirm_delete_single2_"+ans._id)= '[DELETE THIS RESPONSE]'
							div( class="modal fade", id="confirm_delete_single2_"+ans._id, role="dialog")
								div( class="modal-dialog")
									div( class="modal-content")
										div( class="modal-header")
											h4( class="modal-title") Are you sure?
											button( type="button", class="close", data-dismiss="modal") X
										div( class="modal-body")
											p= 'Are you sure you want to remove the response of ' + ans.evaluator_0 + ' (id: '+ans._id+')'
										div( class="modal-footer")
											button(type="button" class="btn btn-secondary" data-dismiss="modal") No.
											button(type="button" class="btn btn-primary confirm_yes" data-dismiss="modal" data-href='/session/results/remove?id='+session.cid+'&result='+ans._id) Yes, Delete this response
						
						- response_average[ans._id] = 0

					each cat, catInd in questions.questions
						each quest, questInd in cat.questions
							if quest.type == 'choice'
								- total_questions++
								tr
									td
										p= (catInd+1)+'.'+(questInd+1)+' '+quest.question
									each ans in session.answers
										- choices = quest.choices
										td
											p= ans['q_'+catInd+'_'+questInd]+" = "+quest.choices.find( ({ value }) => value === ans['q_'+catInd+'_'+questInd] ).text
										
										- response_average[ans._id] += (ans['q_'+catInd+'_'+questInd]*1)
							else if quest.type == 'input'
								tr
									td
										p!= (catInd+1)+'.'+(questInd+1)+' '+quest.question
									each ans in session.answers
										td
											p= ans['q_'+catInd+'_'+questInd]
					tr
						td(style='text-align:right;font-weight:bold;') Average:
						
						each average in response_average
							- total_response_average += (average/total_questions)
							td= (average/total_questions) 
								- var summary = choices.find( ({ value }) => {value === (Math.round(average/total_questions)).toString() })
								if summary != null
									p= summary.text
				tr
					td(style='text-align:right;font-weight:bold;')= "Average of "+session.answers.length+" responses:"
					td= (total_response_average/session.answers.length)
						- var summary2 = choices.find( ({ value }) => value === (Math.round(total_response_average/session.answers.length)).toString() )
						if summary2 != null
							p= summary2.text
					each row, rowInd in session.answers
						if rowInd > 0
							td