extend layout

block content
	h1 Session Info
	table.table.table-condensed.table-hover
		tr
			th ID
			th Name
			th Status
			th Questionnaire
			th Responders
			th Date
			th
		tr
			td= session.id
			td= session.name
			if session.status
				td Currently Active
			else 
				td Inactive
			td= session.questionnaire
			td= session.responders
			td= session.date
			td button
	table.table.table-condensed.table-hover
		tr
			th Teacher
			th Subject
			th Sections
			th Overall
		
		each teacher in summary
			tr
				td= teacher.name
				td
					each subject in teacher.subjects
						p!= "<u>"+subject.name+"</u>"
						p= subject.score.count +" responders."
						p= 'Average Score: '+(subject.score.total/subject.score.count).toFixed(2)
						p
							a(href='')= 'View detailed results for '+subject.name
						- var a = (subject.sections.length-1)*4
						while a > 0
							br
							br
							- a--
				td
					each subject in teacher.subjects
						each section in subject.sections
							p!= "<u>"+subject.name+":"+section.name+"</u>"
							p= section.score.count +" responders."
							p= 'Average Score: '+(section.score.total/section.score.count).toFixed(2)
							p
								a(href='')= 'View detailed results for '+section.name
				td
					p= teacher.score.count +" responders."
					p= 'Average Score: '+(teacher.score.total/teacher.score.total).toFixed(2)
					p
						a(href='')= 'View detailed overall results'

		//each res in data.organized
			tr
				td= res.name
				td
					each subject in res.subjects
						p
							b= subject.name
						each section in subject.sections
							p= "  "+section.name
				td Overall