extends layout

block content
	br
	ul.nav.nav-tabs
		li.nav-item
			a.nav-link(href='/overview') Overview
		li.nav-item
			a.nav-link.active(href='/sessions') Session
		li.nav-item
			a.nav-link(href='/teachers') Teachers
		li.nav-item
			a.nav-link(href='/subjects') Subjects and Section
		li.nav-item
			a.nav-link(href='/questionnaires') Questionnaires
	br

	-var active_session = false
	each sess in sessions
		if sess.active 
			- active_session = sess

	if !active_session
		p.lead Create new session
		form(action="/session/start", method='POST')
			input(type='hidden', name='_csrf', value=_csrf)

			.form-group.row
				label.col-md-2.col-form-label.font-weight-bold.text-right(for='session_name') Session Name
				.col-md-3
					input.form-control(type='text', name='session_name' required)

			.form-group.row
				label.col-md-2.col-form-label.font-weight-bold.text-right(for='questionnaire') Questionnaire
				.col-md-3
					select.form-control(name="questionnaire")
						each survey in surveys
							option(value=survey.cid)= survey.name

			.form-group.row
				label.col-md-2.col-form-label.font-weight-bold.text-right
				.col-md-3
					input.btn.btn-raised(type='submit', value='Start New Session')
	else
		h2!= "Session <u>'"+active_session.name+"'</u> (id:"+active_session.cid+") is currently active"
		p.lead End this session to create a new one. 
			a(href='/session/end?id='+active_session.cid, style='font-size:12px') [END SESSION]

	.col.small.text-right *Print: Fit scores on 1 page and remarks on another page. *Page setup is in landscape mode.
	.col.small.text-right *Email: Will not be print friendly and will have 1 excel file per teacher. 
	p.lead Session List
	form(action="/session/merge", method='POST')
		input(type='hidden', name='_csrf', value=_csrf)
		table.table.table-condensed.table-hover.ads-table
			tr
				th Merge
				th ID
				th Name
				th Status
				th Questionnaire
				th Responders
				th Date
				th View
				th *Download
			each sess in sessions
				tr
					td
						.form-check
							input.form-check-input(type='checkbox' name="merge_sessions" value=sess.questionnaire+"_"+sess.cid)
							label.form-check-label(for='merge_'+sess.cid)
					td= sess.cid
					td= sess.name
					if sess.active
						td= "Active "
							br
							a( href='/session/end?id='+sess.cid, style='font-size:12px') [END SESSION]
					else 
						td= "Inactive"
							br
							a( href='/session/continue?id='+sess.cid, style='font-size:12px') [Continue Session]

					each questionnaire in surveys
						if(sess.questionnaire == questionnaire.cid)
							td= questionnaire.name
					td= sess.answers.length
					td= sess.createdAt
					td
						a(href='/session/results?id='+sess.cid) View Results
					td
						a.small(href='/session/download?id='+sess.cid+'&mode=print') print
						span= " | "
						a.small(href='/session/download?id='+sess.cid+'&mode=email') email
						//a(class='download_link' href='/session/download?id='+sess.cid) Download

		.form-group.row
			label.col-md-2.col-form-label.font-weight-bold.text-right(for='merge_name') New Session Name
			.col-md-3
				input.form-control(type='text', name='merge_name' required)

		.form-group.row
			label.col-md-2.col-form-label.font-weight-bold.text-right
			.col-md-3
				input.btn.btn-raised(type='submit', value='Merge Sessions')


	p
		a(class='download_link', href='/session/download?id=all')= "[Reload files for all "+sessions.length+" Sessions]  "
		i.small **files can be found in 'output' folder

	//button.btn.btn-link(type="button" id="download_options_toggle") 
		span.small [Download Options]

	//div#download_options(style="display:none;border:1px solid black;padding:15px;")
	//div#download_options
		p.lead
			u Download Options
		i.small **Only Applies to Students Evaluation Form For Teachers

		//.form-group.row
			label.col-md-2.col-form-label.font-weight-bold.text-right(for="print") Print Friendly
			.col-md-1
				input.download_option(id="options_print" type="radio" name="mode" checked="checked" value="print")
			.col-md-9
				p.small.text-left Fit scores on 1 page and remarks on another page. *Page setup is in landscape mode.

		//.form-group.row
			label.col-md-2.col-form-label.font-weight-bold.text-right(for="email") Email Mode
			.col-md-1
				input.download_option(id="options_email" type="radio" name="mode" value="email")
			.col-md-9
				p.small.text-left Will not be print friendly and will have 1 excel file per teacher. 

		//
			p.lead
				u Margins
			i.small **In centimeters
			.form-group.row
				label.col-md-2.col-form-label.font-weight-bold.text-right(for='margin_top') Margin Top
				.col-md-3
					input.form-control.download_option(id="options_margin_top" type='text', name='margin_top', value="0.0")
				
			.form-group.row
				label.col-md-2.col-form-label.font-weight-bold.text-right(for='margin_bottom') Margin Bottom
				.col-md-3
					input.form-control.download_option(id="options_margin_bottom" type='text', name='margin_bottom', value="0.0")

			.form-group.row
				label.col-md-2.col-form-label.font-weight-bold.text-right(for='margin_right') Margin Right
				.col-md-3
					input.form-control.download_option(id="options_margin_right" type='text', name='margin_right', value="0.0")
					
			.form-group.row
				label.col-md-2.col-form-label.font-weight-bold.text-right(for='margin_left') Margin Left
				.col-md-3
					input.form-control.download_option(id="options_margin_left" type='text', name='margin_left', value="0.0")

